.invoice--empty {
  text-align: center;
}

.invoice__table-cntnr {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.invoice__table {
  text-align: right;
  margin: 1rem 0;
  width: 100%;
}

.invoice__labels {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.invoice__labels th {
  padding: 0.5rem;
  min-width: 6rem;
}
