.app {
  margin: 2rem auto 0;
  max-width: 52rem;
  min-width: 320px;
  padding: 1rem;
}

.invoice-total__label {
  font-weight: bold;
  margin-right: 1rem;
}

.invoice-total__total { font-size: 1.2rem; }
