.item td:not(.item__remove-cntnr) {
  padding: 0.5rem;
  min-width: 6rem;
}

.item__remove-cntnr {
  padding: 0.5rem;
  min-width: 2rem;
  width: 2rem;
}

.item__quantity-input {
  appearance: none;
  font-size: 1rem;
  text-align: right;
  width: 6rem;
}
