.product {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  height: 6rem;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  width: 9rem;
}

.product__title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
