@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

html { box-sizing: border-box; height: 100%; }
body { min-height: 100%; }
*, *::before, *::after { box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul { list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}

h1 { font-size: 1.4rem; font-weight: bold; }
h2 { font-size: 1.2rem; }
